header {
    background-image: url('./images/cover.png');
    height: 10%;
    margin: 5px;
}

.title {
    font-size: 50px;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color:#F0F8FF;
}

nav {
    display: flex; 
    justify-content: flex-end;
    font-size: larger;
    background-color: #E0FFFF;
    margin: 5px;
}

nav a {
    padding: 15px 25px;
    text-decoration-color: #00BFFF;
    text-decoration-line: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #AFEEEE;
}

section {
    height: 85%;
    scroll-behavior: auto;
    padding: 15px;
}

.subTitle {
    font-size: 50px;
    text-align: center;
    color: #00FFFF;
    margin-top: 0px;
}

.box {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: #DCDCDC;
    margin: 50px;

}

.innerBox {
    height: 400px;
    width: 500px;
    background-color: #FFF8DC;
}

.imageLabel {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.firstPageVideo {
    display: flex; 
    justify-content: flex-end;
}

footer {
    background-image: url('./images/cover.png');
    height: 5%;
    clear: both;
}