<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../images/logo.png" type="image/png"/>
        <title>Marine-Science</title>
        <meta name="description" content="Web project about Marine-Science">
        <meta name="keywords" content="HTML5, CSS">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <header>
            <h1 class="title">MARINE SCIENCE</h1>
        </header>
        <nav>
            <a href="../Index.html">Home</a>
            <a href="gallery.html">Gallery</a>
            <a href="aboutUs.html">About Us</a>
            <a href="contact.html">Contact</a>
        </nav>
        <section>
            <h1 class="subTitle">ABOUT US</h1>
            <P>
                <i>Content...</i>
            </P>
        </section>
        <footer>
            <p>
                <i>bottom of the page...</i>
            </p>
        </footer>
    </body>
</html>