<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../images/logo.png" type="image/png"/>
        <title>Marine-Science</title>
        <meta name="description" content="Web project about Marine-Science">
        <meta name="keywords" content="HTML5, CSS">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <header>
            <h1 class="title">MARINE SCIENCE</h1>
            <nav>
                <a href="../Index.html">Home</a>
                <a href="gallery.html">Gallery</a>
                <a href="aboutUs.html">About Us</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <section>
            <h1 class="subTitle">CONTACT</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.5004129717836!2d80.9865995154346!3d6.830442695063522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae46fe3623131ab%3A0x9f847e663ac94332!2sBandarawela%20Town!5e0!3m2!1sen!2slk!4v1577103786760!5m2!1sen!2slk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </section>
        <footer>
            <p>
                <i>bottom of the page...</i>
            </p>
        </footer>
    </body>
</html>